<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Precentacion.Properties.Settings.cn" connectionString="Data Source=DESKTOP-8I8DIUV;Initial Catalog=Gestíón_Inventario;User ID=sa;Password=2308;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>